body {
    height: 96vh;
    overflow-y: hidden;
}

#canvas {
    height: 80vh;
    width: 80vh;
    margin: auto;
    background-color: #842493;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}